
body {
    background-color: #111;
    color: lightgray;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
}

/*index.html página principal*/

h1.inicio {
    color: lightyellow;
    font-family: "Marcellus";
    font-size: 4em;
}

h2.inicio {
    color: lightblue;
    font-family: "Marcellus";
    font-size: 1.25em;
}

/*div #menu: barra de navegación*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a.active {
    /*    padding-top: 15px;
        background-color: #075a97;
        border: 1px solid #333;
        border-top: none;*/
    color: lightgreen;
}

.navbar {
    background-color: #333;
}

li {
    float: left;
}

/*.ulMenu li:last-child {
    background: #008800;
    float: right;
}*/

.leftbtn {
    /*float: left;*/
}
.horiz-btns {
    display:flex;
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:#222;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2e2e2e;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    /*quitado para que a.active cambie el color de los elementos del dropdown*/
    /*color: lightgray;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #2e2e2e
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropdown-content.visible {
    display: block;
}

/*div #contenido y cambios dinámicos*/

#contenido {
    display: inline-block;
    /*font-size: 50px;*/
    color: green;
    vertical-align: central;
    width: 90vw;
}

p {
    /*text-align: left;*/
}

/*formularios ABM*/

form {
    /*text-align: left;*/
    /*background-color:lightblue;*/
}

/*características comunes en cuadros de texto/password y botón enviar*/
input {
    background-color: #2e2e2e;
    border-radius: 4px;
    font-size: 1.2em;
    height: 4vw;
}

/*campo de texto y de password*/
input[type=text], input[type=password] {
    border-color: #2e2e2e;
    border-width: 2px;
    box-sizing: border-box;
    color: green;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

input[type=text]:focus,[type=password]:focus {
    background-color: lightblue;
}

/*texto descriptivo antes de campos de texto y de password, tamaño de texto requerido (no heredado de input)*/
#login-user-pass {
    color: lightgreen;
    font-size: 1.2em;
    text-align: left;
}

/*color y grosor de fuente de botón enviar*/
#login-enviar {
    border-color: gray;
    color: darkgray;
    font-weight: bold;
    width: 50vw;
}

.formulario input {
    /*float: contour;*/
}
.formulario li:last-child {
    /*    background-color:green;*/
}

.spanW200 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 20px;
    color:purple;
    text-align: left;
    overflow: hidden;
    vertical-align: bottom;
}

.formulario input{
    text-align: left;
}

/*
https://stackoverflow.com/questions/12811149/what-does-the-dot-mean-in-css
https://www.w3schools.com/cssref/css_selectors.php
https://www.w3schools.com/css/css_form.asp
*/