<ul class="navbar">
    <li class="dropdown">
        <a href="dispositivosHref" class="menuDropdown dispositivos" id="dispListaLink">Dispositivos</a>
        <div class="dropdown-content dispositivos">
            <!--<a href="vista/comunes/form.html#disp-alta" class="dispMenuBtn dispositivos">Alta</a>-->
            <!--<a href="vista/comunes/form.html#disp-baja" class="dispMenuBtn dispositivos">Baja</a>-->
            <!--<a href="vista/comunes/form.html#disp-modif" class="dispMenuBtn dispositivos">Actualización</a>-->
            <a href="vista/dispositivos/alta.html" id="dispAltaLink">Alta</a>
            <a href="vista/dispositivos/baja.html" id="dispBajaLink">Baja</a>
            <a href="vista/dispositivos/modif.html" id="dispModifLink">Actualización</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="componentesHref" class="menuDropdown componentes" id="compListaLink">Componentes</a>
        <div class="dropdown-content componentes">
            <!--<a href="vista/comunes/form.html#comp-alta" class="compMenuBtn componentes">Alta</a>-->
            <!--<a href="vista/comunes/form.html#comp-baja" class="compMenuBtn componentes">Baja</a>-->
            <!--<a href="vista/comunes/form.html#comp-modif" class="compMenuBtn componentes">Actualización</a>-->
            <a href="vista/componentes/alta.html" id="compAltaLink">Alta</a>
            <a href="vista/componentes/baja.html" id="compBajaLink">Baja</a>
            <a href="vista/componentes/modif.html" id="compModifLink">Actualización</a>
        </div>
    </li>
    <li class="horiz-btns">
        <a href="vista/inicio.html">Home</a>
        <a href="vista/login.html">Login</a>
        <a href="vista/logout.html">Salir</a>
    </li>
</ul>


<script>
    $(document).ready(function () {
        function test() {
//            $("h1").html("test");
        }
        test();
    });
</script>

<!--bootstrap navbar no abre el dropdown menu con hover-->