<br>
<br>
<!--<h1>INICIAR SESIÓN</h1>-->
<br>
<form action = "" method = "POST" id="loginInput">
    <div id="login-user-pass">
        <div id="login-user">Ingrese su usuario:</div><input type="text" name="user">
        <br>
        <div id="login-pass">Ingrese su contraseña:</div><input type="password" name="pass">
    </div>
    <br>
    <br>
    <input id="login-enviar" type="submit" value="Enviar" name="login">
    <!--login también se envía en post-->
</form>

<!--
https://www.tutorialspoint.com/php/php_login_example.htm
https://stackoverflow.com/questions/29281065/why-we-use-htmlspecialchars-serverphp-self
-->