<form action="" method="POST" id="dispAltaInput">
    <div class="formulario">
        <br>
        <span class="spanW200">Ingrese la marca:</span>
        <span><input type="text" name="marca" size="20"></span>
        <br><br>
        <span class="spanW200" style="display:inline-block">Ingrese el modelo:</span>
        <span><input type="text" name="modelo" size="20"></span>
        <br><br>
        <span class="spanW200">Ingrese la función:</span>
        <span><input type="text" name="funcion" size="20"></span>
        <br><br>
        <span class="spanW200">Ingrese la línea:</span>
        <span><input type="text" name="linea" size="20"></span>
        <br><br>
        <span class="spanW200">Ingrese la descripción (opcional):</span>
        <span><input type="text" name="descripcion" size="20"></span>
        <br><br>
    </div>
    <input type="submit" value="Enviar">
</form>


<!-- toggle display test -->
<!--<script language="JavaScript">
    // probando CSS display, reemplazar por jQuery hide/show de ser necesario (que igual usa CSS)
    function toggle(id) {
        var state = document.getElementById(id).style.display;
        if (state === 'inline-block') {
            document.getElementById(id).style.display = 'none';
        } else {
            document.getElementById(id).style.display = 'inline-block';
        }
    }
</script>-->
        <!--<span><input type="text" name="marca" size="20" onkeypress="toggle('I'); toggle('l');"></span>-->
        <!--<span class="spanW200" id="l" style="display:none">lngrese eI modeIo:</span>-->