<table id="tabla-disp">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Función</th>
            <th>Línea</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se agregarán las filas de la tabla dinámicamente -->
    </tbody>
</table>